* {
    box-sizing: border-box;
}

body {
    font-family: verdana;
}

#title {
    font-weight: bold
}

#employees {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

#employees li {
    border: solid 1px black;
    width: calc(100% / 3 - 2rem);
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
    background-color: lightskyblue;
    justify-content: center;
    text-align: center;
    display: flex;
}

#employees li.favorite {
    background-color: linen;
}